---
import type { FunctionComponent } from "react";

export interface Props {
	name: string;
	description: string;
	icon: string | FunctionComponent;
	link: string;
	class?: string;
	classes?: {
		icon?: string;
	};
}

const { name, description, icon: Icon, link } = Astro.props;
---

<a
	class={`project-card bg-nord5 dark:bg-nord4 rounded-lg p-4 flex flex-col gap-2 group hover:ring ring-nord9 transition-all text-white ${
		Astro.props.class ?? ""
	}`}
	href={link}
	target="_blank"
	rel="noopener noreferrer"
>
	<div class="flex items-center gap-2">
		<div class="">
			{
				typeof Icon === "string" ? (
					Icon.startsWith("/") ? (
						<img
							src={Icon}
							width={24}
							height={24}
							class={Astro.props.classes?.icon}
						/>
					) : (
						Icon
					)
				) : (
					// @ts-ignore
					<Icon size={24} weight="bold" />
				)
			}
		</div>
		<div class="font-bold text-xl text-white">{name}</div>
	</div>
	<div class="">
		<div class="text-white">{description}</div>
	</div>
</a>

<style>
	.project-card {
		background-color: #D8DEE9 !important; /* nord5 */
		color: #FFFFFF !important;
	}
	
	@media (prefers-color-scheme: dark) {
		.project-card {
			background-color: #4C566A !important; /* nord4 */
			color: #FFFFFF !important;
		}
	}
	
	.project-card div {
		color: #FFFFFF !important;
	}
</style>
